@media (max-width: 440px){
    .item1 {
        display: flex;
        justify-content: space-evenly;
    }
    .item2 {
        font-size: 4vw;
    }
    .container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        margin:auto;
      }
    .item {
        max-width: 100%;
        margin: auto;
    }
    .contact {
        font-size: 5vw;
    }
    .contact i {
        font-size: 5vw;
    }
    #lBut {
        margin-top: 4vw;
    }
}