@media (max-width: 900px) {
  .hoverText {
    width: 85%;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 14px;
  }
  .landing-wrapper {
    width: 90%;
    margin: auto;
  }
  .container {
    width: 440px;
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
  .item {
    padding: 0;
  }
  .item .flexSimpleRow {
    flex-direction: column;
  }
  .projects-link {
    margin: 0px auto 20px auto;
  }
  .overlay {
    font-size: initial;
    line-height: initial;
  }
}

@media (max-width: 505px) {
  html {
    font-size: 12px;
  }
  .container {
    width: 350px;
    grid-template-columns: 1fr;
  }
  .item {
    max-width: 100%;
    margin: auto;
  }
  .itemImg {
    background-color: #0c084c;
    height: auto;
    width: 350px;
  }
  .item img {
    height: auto;
    width: 350px;
  }
  .hoverText {
    width: 90%;
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  .itemImg {
    width: 250px;
  }
  .item img {
    width: 250px;
  }
}
