@media (max-width: 750px){
    html {
        font-size: 14px;
    }
    .container {
      width: 414px;
      margin: 0 auto;
      grid-template-columns: 1fr;
    }
    .item1 {
        width: 500px;
    }
    .item1a {
        flex-direction: column;
    }
    #profile {
        margin: 0 auto;
        width: 150px;
        height: 152.75px;
    }
    .item1a > h1 {
        text-align: center;
        font-size: 4rem;
    }
    .btn-img {
        margin-left: 20px;
    }
    .item {
      padding: 0;
    }

    .item1b > p {
        width: 400px;
        text-align: center;
        margin: 10px auto 0 auto;
    }
  }

@media (max-width: 505px){
    html {
        font-size: 12px;
    }
    .container {
        width: 350px;
        grid-template-columns: 1fr;
    }
    .nav {
        padding-bottom: 45px;
    }
    .item {
        max-width: 100%;
        margin: auto;
    }
    .item1 {
        width: 250px;
    }
    #lBut {
        margin-top: 4vw;
    }
    #profile {
        margin: 0 auto;
        width: 100px;
        height: 102px;
    }
    .itemImg {
      background-color: #0c084c;
      height: auto;
      width: 350px;
    }
    .btn-img {
        margin-left: 16px;
    }
    .item img {
        height: auto;
        width: 350px;
    }
    .flexSimple:nth-last-child(1) {
        width: 250px;
    }
  
}


@media (max-width: 420px){
    .container {
        width: 250px;
        grid-template-columns: 1fr;
    }
    .itemImg {
        width: 250px;
    }
  
      .item img {
          width: 250px;
      }
    
}