/* ----------------------Global Styles---------------------- */
html {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: var(--font-sans);
  display: grid;
  background-color: var(--color-dark);
  margin: 0;
}

main {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
}

h2,
h4,
h6 {
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.75rem;
}

h4 {
  font-weight: 200;
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
  text-align: center;
}

a {
  text-decoration: none;
}

/* ----------------------Utility Classes---------------------- */
.color-primary {
  color: var(--color-primary);
}

.color-light {
  color: var(--color-light);
}
.color-muted {
  color: var(--muted-foreground);
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ----------------------Scrollbar---------------------- */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 14px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.869);
}

/* ----------------------Navigation----------------------*/
.nav {
  z-index: 5;
  position: fixed;
  width: 100%;
}

.nav-container {
  top: 0;
  position: sticky;
  -webkit-position: sticky;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: rgba(var(--background), 0.8);
  border-bottom: 1px solid var(--muted);
  font-size: 1.1rem;

  & p {
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 2rem;
  }
}

.nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-right: 1rem;
}

.nav li {
  padding-right: 2rem;
}

.nav li a {
  color: var(--muted-foreground);
  transition-property: color, fill, stroke;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--color-primary);
  }
}
/* ----------------------Landing Page---------------------- */

.landing-wrapper {
  max-width: 700px;
  height: 300px;
  color: var(--color-primary);
  text-align: left;
  grid-column: 1/5;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0px;
}

.name-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.about-me > p {
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.5;
}

.landing-wrapper h1 {
  display: inline-block;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 5px;
  font-size: 5rem;
  margin: 0;
  line-height: 1.25;
}

.landing-wrapper > p {
  margin-top: 0px;
  line-height: 175%;
}

/* ----------------------WORK---------------------- */

section {
  color: var(--color-primary);
  padding: 5vw 0;
  margin: 0 0 150px 0;
  width: 100vw;
}

.work-container {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-gap: 5vw 2.5%;
  margin: 0 auto 4% auto;
  padding: 0 0 5% 0;
}

.flexSimpleRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 3.25rem;
}

.item .flexSimpleRow {
  margin-top: 50px;
}

.overlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  border: 4px solid var(--color-primary);
  font-size: 1.1rem;
  line-height: 1.6;
}

.hoverText {
  color: #f0eec8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}

.item {
  margin: auto;
  position: relative;
  padding: 2%;
}

.item .flexSimpleRow {
  font-size: 1rem;
}

.projects-link {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  margin: 10px auto 50px auto;
  padding: 10px;
  transition: all 0.3s;
}

.projects-link:hover {
  color: var(--color-light);
  border-bottom-color: var(--color-light);
}

.item img {
  width: 60vw;
  height: calc(60vw * 0.55);
}

.itemImg {
  background-color: #0c084c;
  width: 60vw;
  height: calc(60vw * 0.55);
  position: relative;
  bottom: 0;
}

.itemImg:hover .overlay {
  opacity: 0.86;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ----------------------Contact---------------------- */

.connect-container {
  padding: 0;
  text-align: center;
  margin: auto auto 150px auto;
  max-width: min(600px, 80%);

  & p {
    font-size: 1.2rem;
    margin-bottom: 50px;
  }
}

.connect a {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  font-size: 1.5rem;
  padding: 10px;
  transition-property: color, border-bottom-color, fill, stroke;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--color-light);
    border-bottom-color: var(--color-light);
  }
}

footer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  & p {
    font-size: 1rem;
  }
}
