html {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: Montserrat, sans-serif;
  display: grid;
  background-color: #222;
  margin: 0;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 14px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.869);
}

/***** Reuseable Components ******/
h2,
h4,
h6 {
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.75rem;
}

h4 {
  font-weight: 200;
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-gap: 5vw 2.5%;
  margin: 0 auto 4% auto;
  padding: 0 0 5% 0;
}

/* ----------------------Navigation------------*/

.nav {
  z-index: 5;
  background-color: #0c084c;
  grid-column: 5/6;
  position: fixed;
  top: 0;
  left: calc(100vw - 250px);
  padding: 0;
  clip-path: polygon(37% 0, 100% 0, 100% 100%, 37% 62%);
  -webkit-clip-path: polygon(37% 0, 100% 0, 100% 100%, 37% 62%);
  padding-left: 100px;
  padding-bottom: 75px;
}

.nav ul {
  position: sticky;
  -webkit-position: sticky;
  top: 0;
  right: 0;
  width: 100px;
  list-style: none;
  padding: 0 25px;
  margin-top: 0;
  margin-bottom: 40px;
}

.nav li {
  padding-top: 1.25rem;
  font-size: 1.25rem;
}
.nav li:nth-child(1) {
  padding-top: 1rem;
}

.nav li a {
  color: #f0eec8;
  display: block;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  list-style: none;
  transition: color 0.5s;
}

.btn:hover,
.btn:active {
  color: rgba(255, 255, 255, 0.877);
  text-decoration: none;
  transition: color 0.5s;
}

.btn-img {
  margin-left: 24px;
}

.btn-img img {
  height: 23px;
  width: 24px;
  z-index: 1;
}

#box {
  height: 23px;
  width: 24px;
  border: 1px solid rgba(255, 255, 255, 0);
  z-index: 20;
  transition: border 0.5s;
}

#box:hover {
  border: 1px solid rgba(255, 255, 255, 0.877);
}

/*****  Landing Page  ******/
main {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  background-color: var(--color-background);
}

.item1 {
  width: 600px;
  height: 300px;
  color: var(--color-primary);
  text-align: left;
  grid-column: 1/5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0px;
}

.item1a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.item1b > p {
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.5;
}

#profile {
  width: 200px;
  height: 203px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
}
.item1 h1 {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 5rem;
  margin: 0;
  line-height: 1.25;
}

.item2 {
  display: inline-block;
  width: 100%;
}

.item2a {
  margin: 0 auto 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item1a h2 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
  text-align: right;
}

.item1a h3 {
  text-align: right;
}

#hide {
  display: none;
}

/* .downButton {
  clip-path: polygon(
    100% 2%,
    100% 0,
    0 0%,
    0% 2%,
    48% 93%,
    49% 94%,
    50% 95%,
    51% 94%,
    52% 93%
  );
  -webkit-clip-path: polygon(
    100% 2%,
    100% 0,
    0 0%,
    0% 2%,
    48% 93%,
    49% 94%,
    50% 95%,
    51% 94%,
    52% 93%
  );
  width: 100px;
  height: 80px;
  margin-top: 7px;
  border-radius: 2.5%;
  background-image: linear-gradient(
    #9400d3,
    #4b0082,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff7f00,
    #feffee
  );
} */

h6,
#about-me {
  list-style: none;
  font-size: 1.25rem;
  line-height: 175%;
  font-weight: 600;
  padding: 0;
  margin: 20px auto;
}
.item1 > p {
  margin-top: 0px;
  line-height: 175%;
}

/*-----WORK-----*/

section {
  color: var(--color-primary);
  background-color: #222;
  padding: 5vw 0;
  margin: 0;
  width: 100vw;
}

.flexSimple {
  width: 75vw;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.flexSimple:nth-last-child(1) {
  width: 400px;
}

.flexSimpleRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 3.25rem;
}

.item .flexSimpleRow {
  margin-top: 50px;
}

.overlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  border: 4px solid var(--color-primary);
  font-size: 1.1rem;
  line-height: 1.6;
}

.hoverText {
  color: #f0eec8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}

.item {
  margin: auto;
  position: relative;
  padding: 2%;
}

.item .flexSimpleRow {
  font-size: 1rem;
}

.projects-icon {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  margin: 10px auto 50px auto;
  padding: 10px;
  transition: all 0.3s;
}

.projects-icon:hover {
  color: rgba(255, 255, 255, 0.877);
}

.item img {
  width: 60vw;
  height: calc(60vw * 0.55);
}

.itemImg {
  background-color: #0c084c;
  width: 60vw;
  height: calc(60vw * 0.55);
  position: relative;
  bottom: 0;
}

.itemImg:hover .overlay {
  opacity: 0.86;
}

.inactive {
  display: none;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*************  Contact  ************/

.connect {
  color: var(--color-primary);
  padding: 0;
  text-align: center;
  margin: 0 auto 100px auto;
}

.connect i {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  margin: 10px auto 50px auto;
  padding: 10px;
  font-size: 4.5rem;
  transition: all 0.3s;
}

.connect a {
  color: var(--color-primary);
}

.connect-icon:hover {
  color: rgba(255, 255, 255, 0.877);
}

footer {
  color: var(--color-primary);
  padding: 20px;
}

footer p {
  font-size: 1rem;
}
