html {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
    font-family:Montserrat, sans-serif;
    display:grid;
    color:#212121;
    background-color: #00b7a8;
    margin: 0;
    padding: 0;
  }

/***** Reuseable Components ******/

h2 {
  text-align: center;
  font-size: 3.5vw;
  display: grid;
}

h3,
h4 {
  text-align:center;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-gap: 5vw 2.5%;
  margin:0 auto 4% auto;
  padding: 0 0 5% 0;
}

/* ----------------------Navigation------------*/

.nav {
  font-size: 1.5vw;
  z-index: 5;
  background-color: #0c084c;
  grid-column: 5/6;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  clip-path: polygon(37% 0, 100% 0, 100% 100%, 37% 62%);
  padding-left: 100px;
  padding-bottom: 75px;
}

.nav ul {
  position: sticky;
  -webkit-position: sticky;
  top: 0;
  right: 0;
  width: 100px;
  list-style: none;
  padding: 0 25px;
  margin-top: 0;
  margin-bottom: 40px;
}

.nav li {
  padding-top: 2rem;
}
.nav li:nth-child(1){
  padding-top: 1rem;
}

.nav li a {
  color:#f0eec8;
  display: block;

}

.btn:link,
.btn:visited  {
  text-decoration: none;
  list-style: none;
  transition: color .5s;
}

.btn:hover,
.btn:active {
  color:#4d4d4d;
  text-decoration:none;
  transition: color .5s;
}


/*****  Landing Page  ******/
main {
  width: 100vw;
  height: 115vh;
  position: relative;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: min-content, 1fr;
  padding: 0;
  background-image: linear-gradient(#00000094 75%, #000000 95%), url(../img/drew-beamer-2-1592889-unsplash.jpg);
  background-size: cover;
}

main div {
  grid-column: 1/5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 20px;
  margin-bottom: 0px;
}

.item1 {
  /* color:rgba(240, 238, 200, .9); */
  /* color:rgb(2, 211, 193); */
  color:#00B7A8;
  text-shadow: black;
  font-size: 260%;
  text-align: center;
}

.item1 h1 {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 0;
}

.item1 h4 {
  margin-bottom: 0;
}

h6,
#about-me {
  list-style: none;
  font-size: 65%;
  line-height: 175%;
  font-weight: 600;
  padding: 0;
  margin: 20px auto;
}
.item1 > p {
  margin-top: 0px;
  text-align: center;
  line-height: 175%;
  font-size: 20px;
}

article {
  color: rgb(2, 211, 193);
  /* background-color: black; */
  background-image: linear-gradient(black 0%, 5%, #191919 30%);
  width: 100vw;
  padding: 35px auto;
}
article h2 {
  padding-top: 80px;
}

article > p {
  width: 50%;
  margin: 25px auto;
  line-height: 210%;
  font-size: 24px;
  margin: 50px auto 0px auto;
  padding-bottom: 60px;
}

/*-----WORK-----*/

section {
  color: #00b7a8;
  /* background-color: #00b7a8; */
  /* background-color: black; */
  background-color: #191919;
  /* color: #0a063d; */
  padding: 5vw 10px;
}

.flexSimple {
  width: 800px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.flexSimpleRow {
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;
}

.skill:nth-child(1){
  margin-left: 47.5px;
  padding-left: 20px;
}

/*link, visited, hover, focus, active*/
.skill,
.skill:link {
  font-size: 140%;
  /* color: #0a063d; */
  color: #00b7a8;
  opacity: 1;
  transition: all .3s;
}

.skillLabel {
  font-size: 18px;
  color: #00b7a8;
  opacity: 0;
  transition: all .3s;
  writing-mode: vertical-rl;
  margin-right: 25px;
  padding: 15px 20px 20px 10px;
}

.overlay{
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.hoverText {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.item {
  margin: auto;
  position:relative;
  padding: 2%;
}

.item img {
  height: 237px;
  width: 414px;
}
/* BACKUP
.item img {
  height: auto;
  width: 100%;
}

.itemImg {
  background-color: black;
  height: auto;
  width: 100%;
  position: relative;
  bottom: 0;
}
*/
.itemImg {
  background-color: black;
  height: 237px;
  width: 414px;
  position: relative;
  bottom: 0;
}

.itemImg:hover .overlay {
  opacity:0.8;
}

.inactive {
  display: none;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#select {
  width: 100%;
  padding: 4px 6px;
  font-size: 16px;
  margin: auto;
}


/*************  Contact  ************/

.contact {
   color: #0a063d;
   padding: 0;
   width: 700px;
   text-align: center;
   margin: 0 auto 100px auto;
   font-size: 20px;
}


.contact i {
  color: #0a063d;
  border-bottom: 1px solid #0a063d;
  margin: 10px auto 50px auto;
  padding: 10px;
  font-size: 50px;
}

.contact-icon:link,
.contact-icon:visited {
  transition: 0.5s;
}

.contact-icon:hover {
  color: white;
}

footer {
  background-color: #0c084c;
  color: #f0eec8;
  padding: 20px;
}

footer p {
  text-align: center;
}